site_name: limma-py
site_description: "limma_py: A comprehensive Python implementation of R's limma package for differential expression analysis, providing tools for linear modeling, empirical Bayes moderation, and differential expression testing of gene expression data (microarray and RNA-seq)."
site_author: Zhang Xian

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - toc.integrate
    - search.suggest
    - search.highlight
  palette:
    - scheme: default
      primary: blue
      accent: light blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode



copyright: Copyright &copy; 2025 Zhang Xian


nav:
  - 首页: index.md
  - 安装: installation.md
  - 使用示例: examples.md
  - API参考: api.md

plugins:
  - search
  - mkdocstrings


markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - pymdownx.snippets
  - toc:
      permalink: true
      toc_depth: 1-3


extra:
  analytics:
    provider: google
    property: YOUR_GOOGLE_ANALYTICS_ID
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/yourusername/limma-py

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js